body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}
nav ul li {
  display: inline-block;
  margin-right: 430px; /* Adjust spacing */
}
.navig {
  font-weight: bold;   
  border: 2px solid royalblue;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  width: 10cm;
  background-color: royalblue;
  color: white;       
  padding: 10px;
  cursor: pointer;    
}

.navig ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navig:hover ul {
  display: block;
}

.navig ul li {
  border-top: 2px solid royalblue;
  background-color: white;
  width: 10cm;
  color: black;
  display: block;
}

.navig ul li:hover {
  background-color: powderblue;
}



